*{
	margin:0;
	padding:0
}
body{
	background-color: #f9f9f9;
}
.iconfont{
	display:inline-block;
	font-style: normal;
	text-align: center;
	color:#fa4b9b;
	font-size:22px;
	margin:8px 5px 0 0;
}
.left{
	position:fixed;
	bottom:180px;
	z-index:100;
	left: 40px;
}
ul{
	list-style: none;
}
.right{
	height:197px;
	width:55px;
	border:1px solid #e5e5e5;
	border-radius:5px;
	right:40px;
	background-color:white;
	position:fixed;
	bottom:180px;
	z-index:100;
}
.right a{
	display: flex;
	flex-direction: column;
	height:55px;
	width:55px;
	font-size: 12px;
	color:#333333;
	text-align: center;
	text-decoration: none;
	border-bottom: 1px solid #e5e5e5;
}
.fff{
	height:32px;
	width:55px;
	background-color:#fa4b9b;
	position: relative;
	cursor:pointer ;
	border-radius:0 0 5px 5px ;
}
.fff i{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -5px 0 0 -6px;
	right: 0;
	width: 0;
	height: 0;
	border-left:6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 10px solid #fff;
}
/*header*/
.header{
	height:30px;
	width:100%;
	background-color:#f2f2f2;
    position: relative;
}
.phone{
	color: #f94385;
	font-size: 10px;
	left:165px;
	top:7px;
	position: absolute;
}
.shouji{
	font-size: 10px;
	position: absolute;
	left:180px;
	top:5px;
}
.shouji:hover{
	color:#f94385;
}
.welcome{
	font-size: 10px;
	right:370px;
	top:7px;
    position: absolute;
}
.lianjie{
	font-size: 10px;
	right:176px;
	top:7px;
	position: absolute;
}
.a1:hover{
	color:#f94385;
}
.a2:hover{
	color:#f94385;
}
.a3:hover{
	color:#f94385;
}
.logo{
	height:135px;
	width:100%;
	background-color: white;
}
.logo img{
	margin-left:160px;
	margin-top:30px;
	float: left;
}
.search{
	height:85px;
	width:860px;
	float:right;
	margin-top:50px;
}
.s1{
	height:35px;
	width:450px;
	display: flex;
	justify-content: space-between;
}
#txt1{
	box-sizing: border-box;
	height:35px;
	width:350px;
	border:2px solid #f94385;
}
#btn{
	border: none;
	height:35px;
	width:100px;
	font-size:15px;
	background-color:#f94385;
	color:white;
	float:left;
	
}
.s2{
	height:33px;
	width:160px;
	border:1px solid #e5e5e5;
	margin-right:220px;
	margin-top:-35px;
	float:right;
}
.s2 a{
	text-decoration: none;
	display: block;
	height:33px;
	width:160px;
}
.shop{
	font-size:20px;
	height:33px;
	width:33px;
}
.search li{
	float: left;
	text-align: center;
	line-height:32px ;
	list-style: none;
	margin-right:20px;
	font-family:"微软雅黑" ;
	font-size:10px;
	color:#fa4b9b;
}
.search li a{
	text-decoration: none;
	color:#666666;
}
.search li a:hover{
	color:#fa4b9b;
} 
/*header-nav*/
.header-nav{
	height:50px;
	width:100%;
	background-color: #ff3893;
}
.nav{
	height:50px;
	width:1120px;
	margin:0 auto;
	
}
.nav-list{
	display: block;
	height:650px;
	width:230px;
	background-color:white;
	float:left;
	position: absolute;
	z-index: 10;
}
.nav-title{
	height:60px;
	width:230px;
	background-color:#fb3994;
}
.nav-title b{
	line-height:60px;
	color:white;
}
.nav-main{
	height:590px;
	width:230px;
	background:rgba(266,266,266,0);
}
.main-1{
	height:84px;
	width:210px;
	border-bottom:1px dashed #e5e5e5;
	margin-left:10px;
}
.main-1 a{
	text-decoration: none;
	font-size:12px;
	color:#333333;
	margin-right: 10px;
}
.list-link{
	height:60px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.main-1 b{
	font-size:15px;
	color:#fb60a7;
}
.last-main{
	border-bottom:none;
}
.nav ul{
	display: block;
	float:left;
	height:50px;
	width:600px;
	margin-left:230px;
}
.nav li{
	height:50px;
	width: 120px;
	float: left;
	text-align: center;
	line-height:50px ;
	list-style: none;
	font-family: "微软雅黑";
	font-size:16px;
}
 ul .first-li{
 	background-color:#ec0971 ;
 }
/*.nav li:*/
.nav li a{
	text-decoration: none;
	color:#FFFFFF;
}
.nav ul li:hover{
	background-color:#ec0971 ;
}
/*轮播图*/
ul,ol {
	list-style: none;
}

img {
	display: block;
}

.bigimg {
	width: 100%;
	height: 480px;
	position: relative;
	overflow:hidden;
}
.image li{
	margin-left: -400px;
	position: absolute;
}
.bt{
	height: 20px;
	width: 110px;
	position: absolute;
	background:rgba(0,0,0,0.3);
	z-index: 3;
	right:200px;
	bottom:20px;
	border-radius:10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.bt .current{
	background-color: #fa4b9b;
}
.bt li {
	float: left;
	width: 10px;
	height: 10px;
	border-radius:50%;
	background:white;
	cursor: pointer;
}
.to-logo{
	height:100px;
	width:865px;
	background-color: white;
	margin:20px 20px 20px 400px;
}
.to-logo img{
	float: left;
	height:80px;
	width:150px;
	line-height:110px;
	margin-left:10px;
}
.newvip{
	height:240px;
	width:1120px;
	margin:0 auto;
}
.newvip img{
	height:240px;
	width:1120px;
}
.connet{
	height:415px;
	width:1120px;
	margin:0 auto;
}
.main-title{
	height:75px;
	width:1120px;
}
.main-title p{
	line-height:75px;
}
.main-title b{
	font-size:28px;
}
.main-title span{
	font-size:20px;
	color:#99a5c0;
}
.c1{
	height:340px;
	width:1120px;
	border:1px solid #e5e5e5;
}
.c1 li{
	height:340px;
	width:222px;
	float: left;
	border:1px solid #e5e5e5;
	background-color: white;
}
.c1 a{
	height:280px;
	width:222px;
}
.c1 img{
	height:240px;
	width:210px;
	margin:0 auto ;
}
.c1 .tit{
	height:60px;
	width:190px;
	margin:0 auto;
}
.c1 .tit a{
	font-size:12px;
	color:#000000;
}
.c1 .tit span{
	font-size:12px;
	color:#c0bcb5;
}
.c1 .tit a{
	text-decoration: none;
}
.c1 .tit span a{
	font-size:20px;
	color:red;
}
.c1 .tit  a:hover{
	color:red;
}
.coming{
	height:4590px;
	width:1120px;
	margin:0 auto;
}
.coming-title{
	height:75px;
	width:1120px;
}	
.coming-title p{
	line-height:75px;
}
.coming-title b{
	font-size:28px;
}
.coming-title span{
	font-size:20px;
	color:#99a5c0;
}
.mark{
	height:365px;
	width:1120px;
	border:1px solid #e5e5e5;
	margin-bottom:10px;
	background-color: white;
}
.mark a{
	height:365px;
	width:735px;
	float: left;
}
.mark a:hover{
	color:red;
}
.mark img{
	height:351px;
	width:720px;
	margin:7px 7px 7px 7px;
}

.small-title{
 	float:right;
	height:351px;
	width:365px;
	margin:7px 20px 7px 0;
}
.small-title a{
	height:117px;
	width:365px;
	text-decoration: none;
	border-bottom:1px dashed #e5e5e5;
	box-sizing: border-box;
}
.st{
	height:80px;
	width:80px;
	float:left;
}
.st img{
	display: block;
	border:1px solid #e5e5e5;
	height:78px;
	width:78px;
}
.sw{
	height:80px;
	width:260px;
	float:right;
	margin:7px 7px 7px 7px;
}
.sw p{
	height:60px;
	font-size: 14px;
	color:#666666;
}
.sw span{
	font-size: 20px;
	color:#fa72c3;
}
.mark-last{
	margin-bottom:0px;
}
.pintuan{
	height:3174px;
	width:1120px;
	margin:0 auto;
	background-color:#f9f9f9 ;
}
.pintuan-title{
	height:75px;
	width:1120px;
}
.pintuan-title p{
	line-height:75px;
}
.pintuan-title b{
	font-size:28px;
}
.pintuan-title span{
	font-size:20px;
	color:#99a5c0;
}
.pintuan-content{
	height:2525px;
	width:1120px;
}
.pintuan-content li{
	height:420px;
	width:1120px;
	border:1px solid #e5e5e5;
	margin-bottom:20px ;
	background-color: white;
}
.pintuan-logo{
	height:120px;
	width:1120px;
}
.pintuan-logo img{
	height:78px;
	width:78px;
	border:1px solid #e5e5e5;
	border-radius: 10px;
	float: left;
	margin:20px;
}
.pintuan-logo a{
	text-decoration: none;
	color:#666666;
}
.pt-logo{
	line-height:120px;
	float: left;
}
.pt-logo a:hover{
	color:red;
}
.active{
	height:30px;
	width:140px;
	float: right;
	border:1px solid red;
	border-radius:30px;
	margin:40px;
}
.active p{
	font-size:14px;
	color:red;
	margin:6px;
}
.pt-main{
	height:300px;
	width:1120px;
	margin-left:5px;
}
.pt-main li{
	/*margin-left:5px;*/
	height:300px;
	width:210px;
	border:none;
	float:left;
}
.pt-main img{
	height:160px;
	width:180px;
	margin:20px;
}
.pt-main a{
	text-decoration: none;
	color:#666666;
}
.pt-tit{
	height:80px;
	width:224px;
	margin:10px;
}
.pt-tit span{
	display: block;
	font-size:15px;
	height:50px;
	width:205px;
}
.pt-tit p{
	color:red;
}
.pt-tit b{
	font-size:20px;
	
}
.footer{
	height:525px;
	width:100%;
	background-color: white;
}
.logo-footer{
	height:130px;
	width:100%;
}
.scroll-img{
	height:130px;
	width:1120px;
	margin:0 auto;
	border-bottom:1px solid #e5e5e5;
}
.scroll-img a{
	float: left;
	display: flex;
	height:103px;
	width:185px;
	text-decoration:none;
	font-size:12px;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	color: #999;
	}
.scroll-img a i{
	display: block;
	height:60px;
	width:60px;
}
.a-i1{
	background:url(../imgs/117.png);	
}
.a-i2{
	background:url(../imgs/117.png) -57PX;
}
.a-i3{
	background:url(../imgs/117.png) -118PX;	
}
.a-i4{
	background:url(../imgs/117.png) -177PX;	
}
.a-i5{
	background:url(../imgs/117.png) -237PX;
}
.a-i6{
	background:url(../imgs/117.png) -298PX;	
}	
.scroll-img a b{
	display: block;
	font-size:16px;
	color:#333333;
}
.list-footer{
	height:170px;
	width:100%;
	border-bottom: 1px solid #e5e5e5;
	box-sizing: border-box;
}
.helps{
	height:170px;
	width:1120px;
	margin:0 auto;
}
.uu{
	height:170px;
	width:830px;
	float: left;
}
.uu ul{
	float: left;
	margin:20px 0 0 80px;
}
.uu a{
	text-decoration: none;
	font-size:12px;
	color:#666666;
}
.uu a:hover{
	color:red;
}
.strong b{
	font-size:13px;
}
.weibo{
	height:170px;
	width:289px;
	float:right;
	border-left:1px solid #e5e5e5;
}
.sao-sao{
	display: block;
	height:140px;
	width:180px;
	margin:10px;
}
.weibo-tit{
	height:30px;
	width:180px;
	font-size:14px;
	margin-left:5px;
}
.sao-sao img{
	float:left;
	margin-left:5px;
}
.last-footer{
	height:225px;
	width:100%;
	margin:0 auto;
}
.Nlink{
	height:225px;
	width:1120px;
	margin:0 auto;
}
.s1000{
	height:40px;
	width:1120px;
	padding:10px 0;
	
}
.s1000 a{
	text-decoration: none;
	color:#666666;
	font-size:12px;
	line-height:35px;
}
.s1000 a:hover{
	color:red;
}
.s1000 .p1{
	margin-left:300px;
}
.w1000{
	height:100px;
	font-size: 13px;
	text-align: center;
	color: #979797;
}
.e1000{
	height:65px;
	width:1120px;
}
.e1000 img{
	float:left;
	margin-right:10px;
}
.e1000 .i1{
	margin-left:320px;
}
